---
title: Home
layout: default
description: "AEHCA Inc. works to advance education and healthy living conditions throughout Central America. Forming
partnerships with communities to build on their specific needs and existing resources. COVID-19 releif has been a
specific focus during 2020 and 2021."
---
<main role="main">
  <!-- Modal -->
  <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="videoModalLabel">Project info</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <video class="col" controls muted autoplay playsinline>
            <source src="" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
  <!-- end modal-->
  <div class="container-md">
    <br>
    <div class="jumbotron">
      <div class="container">
        <!-- Can use this as a template for various informational alerts we want to give out.. maybe for new posts that dont need to be main content -
        {% assign curMonth = site.time | date: "%m" %}
        {% if curMonth >= "11" or curMonth < "04" %} <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
          </symbol>
          </svg>
          <div class="alert alert-primary d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
              <use xlink:href="#info-fill" />
            </svg>
            <div>
              It's almost the end of the year! Click
              <a href="https://blog.taxact.com/take-advantage-of-expanded-tax-deductions-for-charitable-donations-in-2021-email/"
                target="_blank" rel="noopener noreferrer">here</a>
              to learn about the expanded tax deductions for charitable donations in 2021.
            </div>
          </div>
          {% endif %}
        -->
        <!-- End of informational alerts-->
        <div class="row">
          <div class="card text-white container" style="background-color: #49b7e6">
            <img src="/images/front-page-holiday-2022.jpg" class="card-img rounded" alt="AEHCA Inc. logo">
            <div class="card-img-overlay row align-items-end justify-content-around">
              <!-- Button group for triggering modal -->
              <!-- Buttons are on top of the image by defualt if screensize is greater than medium -->
              <div class="btn-group flex-wrap d-none d-md-block">
                <button type="button" id="fp_button" class="btn btn-lg btn-primary video-btn rounded-pill"
                  data-bs-toggle="modal" data-tagVideo="/videos/scholarships.mp4" data-bs-target="#videoModal">
                  Scholarships
                </button>
                <button type="button" id="fp_button" class="btn btn-lg btn-warning video-btn rounded-pill"
                  data-bs-toggle="modal" data-tagVideo="/videos/IDEC_building_project.mp4" data-bs-target="#videoModal">
                  School Building
                </button>
                <button type="button" id="fp_button" class="btn btn-lg btn-danger video-btn rounded-pill"
                  data-bs-toggle="modal" data-tagVideo="/videos/covid-19_food_relief.mp4" data-bs-target="#videoModal">
                  Emergency Food Relief
                </button>
              </div>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <div class="card-body rounded pt-3" style="background-color: #49b7e6">
              AEHCA works to advance education and healthy living conditions throughout Central America.
              Forming partnerships with communities to build on their specific needs and existing resources.
              Our partners in Ipala, Guatemala have been working with us to identify projects that will
              provide the most benefits for their community.
            </div>
          </div>
          <!-- Moves the buttons below the image if the screensize is medium or smaller -->
          <div class="card container d-md-none mt-1" style="background-color: #49b7e6">
            <div class="card-body rounded align-items-end justify-content-around">
              <div class="btn-group row flex-wrap text-center">
                <button type="button" id="fp_button" class="btn btn-primary video-btn rounded-pill"
                  data-bs-toggle="modal" data-tagVideo="/videos/scholarships.mp4" data-bs-target="#videoModal">
                  Scholarships
                </button>
                <button type="button" id="fp_button" class="btn btn-warning video-btn rounded-pill"
                  data-bs-toggle="modal" data-tagVideo="/videos/IDEC_building_project.mp4" data-bs-target="#videoModal">
                  School Building
                </button>
                <button type="button" id="fp_button" class="btn btn-danger video-btn rounded-pill"
                  data-bs-toggle="modal" data-tagVideo="/videos/covid-19_food_relief.mp4" data-bs-target="#videoModal">
                  Emergency Food Relief
                </button>
                <p class="pt-3 text-left">AEHCA works to advance education and healthy living conditions throughout
                  Central
                  America.
                  Forming partnerships with communities to build on their specific needs and existing resources.
                  Our partners in Ipala, Guatemala have been working with us to identify projects that will
                  provide the most benefits for their community.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4">
      <div class="card-group">
        <div class="card text-center">
          {% for post in site.posts %}
          {% if post.title == "2020 Response to Covid-19 in Central America" %}
          <a href="{{ post.url }}">
            {% endif %}
            {% endfor %}
            <div class="card-body">
              <h5 class="card-title">COVID-19 Response</h5>
              <p class="card-text"></p>
            </div>
            <img src="/images/covid19-resp.jpg" class="card-img-top" alt="ipala covid response image">
        </div></a>
        <div class="card text-center">
          {% for post in site.posts %}
          {% if post.title == "Education in Ipala, Guatemala" %}
          <a href="{{ post.url }}">
            {% endif %}
            {% endfor %}
            <div class="card-body">
              <h5 class="card-title">Education</h5>
              <p class="card-text"></p>
            </div>
            <img src="/images/education.jpg" class="card-img-top" alt="ipala education image">
        </div></a>
        <div class="card text-center">
          {% for post in site.posts %}
          {% if post.title == "Health in Ipala, Guatemala" %}
          <a href="{{ post.url }}">
            {% endif %}
            {% endfor %}
            <div class="card-body">
              <h5 class="card-title">Health</h5>
              <p class="card-text"></p>
            </div>
            <img src="/images/health.jpg" class="card-img-top" alt="ipala health image">
        </div></a>
      </div>

      <hr class="my-4">
      <div class="container">
        <p>During the COVID-19 pandemic, we are providing emergency food relief to the people of Ipala,
          Guatemala.
        </p>
        <div class="col text-center">
          <a class="btn btn-info" href="/give.html" role="button">Give</a>
        </div>
        <p><br>
          By giving, you are contributing to the education and creating healthy living conditions in Central America
          communities.
        </p>
      </div>
    </div>
  </div>
</main>