---
import Navigation from "./Navigation.astro";
---

<header class="pb-20 md:pb-auto">
  <nav
    class="fixed w-full h-16 bg-gray-800 flex justify-end items-center text-center align-middle"
  >
    <Navigation />
  </nav>
</header>
